
#Button1, #Button2 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: 30px;  
}

#Button3 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-radius: 5px;
    
} 

#Button2 , #Button3, form {
    display: inline-block;
}

img {
    width: 100px;
    height: 100px;
}  

h1 {
    margin-left: 25px;
    color: darkblue;
}

h1, img {
    display: inline-block;
}

h2 {
    margin-left:25px;
}

li {
    margin-left: 25px;
}
#Button4 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: white;
    color: blue;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
} 

#Button5 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-radius: 5px;
}

#Button6 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-radius: 5px;
    margin-left: 350px;
}

#Button7 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: -115px;
}

#Button8 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: 90px;
}

#Button9 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-radius: 5px;
}

#Button10 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: white;
    color: blue;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px; 
    margin-left: -170px;
    margin-top: 25px;
}

#Button11 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: 295px;
}

#Button12 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-radius: 5px;
}

#Button13 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: 25px; 
}

#Button14 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-radius: 5px;
}

#Button15 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-radius: 5px;
    margin-left: 375px;
}

#Button16 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: white;
    color: blue;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px; 
    margin-top: 25px;
    margin-left: -115px;
}

#Button17 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-radius: 5px;

}

#Button18 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: 315px; 
}


.content {
    
    margin-left: 25px;
}

.title {
    margin-left: 25px;
}

p {
    font: 16px Arial;
    margin-left: 25px;
}

label {
    margin-left: 25px;
    width: 90px;
    
}

#post_content {
    margin-left: 50px;
}

small {
    margin-left: 25px;
}

#friendly {
    margin-left: 5px;
}

h5 {
    margin-left: 25px;  
}

span {
    font: bold 11px Arial;
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
}

div{
    margin-left: 75px;
    margin-top: -28px;   
}

#tag {
    margin-left: 25px;
}



