
#Button1, #Button2 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: 126px;  
}

#Button3 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-radius: 5px;
    
} 

#Button2 , #Button3, form {
    display: inline-block;
}

img {
    width: 100px;
    height: 100px;
}  

h1 {
    margin-left: 25px;
}

h1, img {
    display: inline-block;
}

h2 {
    margin-left:125px;
}

li {
    margin-left: 120px;
}
#Button4 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: white;
    color: blue;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
} 

#Button5 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-radius: 5px;
}

#Button6 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    border-radius: 5px;
    margin-left: 350px;
}

#Button7 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-radius: 5px;
    margin-left: -115px;
}

.content {
    
    margin-left: 25px;
}

.title {
    margin-left: 25px;
}



