{% extends "bootstrap/base.html" %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='app.css')}}" />
{% endblock %} {% block title %}Post Edit Page{% endblock %} {% block page_name %}Edit a Post
{% endblock %} {% block content %}

<h1>Edit Post</h1></br>

<form action="/posts/{{post.id}}/edit" method="POST">
    <label for="title">Title</label><br />
    <input
      type="text"
      class="title"
      name="title"
      value="{{post.title}}"
    /><br /><br />
    <label for="content">Post Content</label><br />
    <textarea class="content" name="content" rows="4" cols="50">{{post.content}}</textarea>
    <br /><br />
   
    {% for tag in tags %}
    <input type="checkbox" value="{{tag.id}}" id="tag" name="tag_checkbox" id="tag">
    <label for="tag">{{tag.name}}</label><br>
  {% endfor %}

    <a href="/users/{{post.user_id}}" id="Button11">Cancel</a>
    <button type="submit" id="Button12">Edit</button>

  </form>
</body>


{% endblock %}