{% extends "bootstrap/base.html" %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='app.css')}}" />
{% endblock %} {% block title %}User Edit Page{% endblock %} {% block page_name %}Edit a User
{% endblock %} {% block content %}

<h1>Edit a User</h1></br>

<form action="/users/{{user.id}}/edit" method="POST">
    <label for="firstname">First name</label><br />
    <input
      type="text"
      id="firstname"
      name="firstname"
      value="{{user.first_name}}"
    /><br /><br />
    <label for="lastname">Last name</label><br />
    <input
      type="text"
      name="lastname"
      value="{{user.last_name}}"
    /><br /><br />
    <label for="imageURL">Image URL</label><br />
    <input
      type="text"
      name="imageURL"
      value="{{user.image_url}}"
    /><br /><br />


    <a href="/users/{{user.id}}" id="Button4">Cancel</a>
    <button type="submit" id="Button5">Save</button>

  </form>
</body>


{% endblock %}
