{% extends "bootstrap/base.html" %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='app.css')}}" />
{% endblock %} {% block title %}Users{% endblock %} {% block page_name %}User
Detail Page{% endblock %} {% block content %}
<img
  src="{{user.image_url}}"
  alt="Picture of {{user.first_name}}{{user.last_name}}"
/>
<h1>{{user.first_name}} {{user.last_name}}</h1>
<br />

<a href="/users/{{user.id}}/edit" id="Button2">Edit</a>
<form action="/users/{{user.id}}/delete" method="post">
  <button type="submit" name="delete" value="Delete" id="Button3">
    Delete
  </button>
</form>

{% endblock %}
